---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-grow flex-col">
    <header>
      <div class="mx-auto block w-11/12 max-w-3xl px-4 py-12">
        <div class="pb-8">
          <div class="text-6xl text-center font-mono py-2">
            @div_center
          </div>
          <div class="text-3xl text-center font-serif py-2">
            Old problems, new tech
          </div>
        </div>
        <nav>
          <div class="flex flex-grow flex-row flex-wrap gap-10 justify-center">
            <a href="#">About</a>
            <a href="#">Blog</a>
            <a href="#">Github</a>
            <a href="#">Twitter</a>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div
        class="mx-auto block w-11/12 max-w-3xl px-4 py-6 font-serif text-lg"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
