---
import Base from "../layouts/Base.astro";
import { slugify } from "../utils";

import { getCollection } from "astro:content";

const blogEntries = await getCollection('blog');
const blogEntryParams = blogEntries.map((entry) => ({
  title: entry.data.title,
  slug: "blog/" + slugify(entry.data.title),
  date: entry.data.date
}))
---

<Base title="@div_center | About">
  <div class="[&>p]:mx-auto [&>p]:py-1.5">
    <div class="pt-2 pb-10">
        <h1 class="pb-4 text-4xl font-medium">About</h1>
    </div>
    Hi, I'm Francis! I work in tech building software for data and
    infrastructure solutions.
    <br /><br />
    Right now, I'm exploring how to build apps using the new tools in web development
    like Astro, TailwindCSS, NextJS, trpc and TRPC.
    <br /><br />
  </div>
</Base>
