---
import Base from './Base.astro'
const { frontmatter } = Astro.props
---

<Base title={ frontmatter.title }>
    <h1>{ frontmatter.title }</h1>
    <h2>{ frontmatter.author }, {frontmatter.date}</h2>
    <slot/>
</Base>